:root {
    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue:  hsl(214, 17%, 51%);
    --color-grayish-blue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);
    
    --space-unit: 1.6em;
    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: #ecf2f8;
}
body {
    font-family: "Manrope", sans-serif;
    color: var(--color-very-dark-grayish-blue);
}
.container {
    margin: 25% auto;
    background-color: #ffffff;
    width: 73rem;
    height: 28rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 20px;
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.drawers-image {
    width: 28.5rem;
    height: 28rem;
    border-radius: 20px 0 0 20px;
}
.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 4rem;
}
h1 {
    line-height: 1.5;
}
.paragraph {
    line-height: 1.5;
    color: var(--color-grayish-blue);
}
.bottom-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar-name {
    display: flex;
    align-items: center;
}
.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}
.date {
    color: var(--color-desaturated-dark-blue);
}
.card-share-content {
    border-radius: 5px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-around;
    left: 0;
    right: 0;
    top: calc(100% + 0.625rem);
    padding: 1rem 4rem;
    background-color: var(--color-very-dark-grayish-blue);
    transition: opacity 200ms ease;
    box-shadow: hsla(217, 19%, 35%, 10%) 0px 12px 24px 12px;
}
.card-share-list {
    position: relative;
    z-index: 999;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}
.card-share-item a {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
}
.card-share-item a:focus-visible {
    outline: 2px solid var(--color-light-grayish-blue);
    outline-offset: 4px;
}
.card-share-label {
    color: var(--color-desaturated-dark-blue);
    text-transform: uppercase;
    letter-spacing: 0.47em;
    font-size: 0.75rem;
    margin-right: 1.5rem;
    position: relative;
    z-index: 999;
    width: 2rem;
    height: 2rem;
    padding: 0.5625rem 0 0.625rem 0;
    border: none;
    cursor: pointer;
    background-color: var(--color-very-dark-grayish-blue);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    transition-property: background-color, transform;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
.card-share-content p {
    color: var(--color-grayish-blue);
    font-size: .8rem;
}
.card-share-btn.menu-shown {
    background-color: var(--color-desaturated-dark-blue);
}
.card-share-btn.menu-shown svg path {
    fill: var(--color-light-grayish-blue);
}
.card-share-btn svg {
    pointer-events: none;
}
.card-share-btn svg path {
    transition: fill 200ms ease;
}
.card-share-btn:focus-visible {
    outline: 2px dashed var(--color-very-dark-grayish-blue);
    outline-offset: 4px;
}
.card-share-btn:active {
    transform: scale(0.95);
}
.card-share-btn {
    padding: 1rem;
    background-color: #ecf2f9;
    border-radius: 50%;
    border: none;
}
@media (hover: hover) {
    .card-share-btn:hover {
        background-color: var(--color-very-dark-grayish-blue);
    }
    .card-share-btn:hover svg path {
        fill: var(--color-light-grayish-blue);
    }
}
@media (min-width: 42em) {
    .card-share {
        position: relative;
    }
    .card-share-btn {
        padding: 1rem;
        background-color: #ecf2f9;
        border-radius: 50%;
    }
    .card-share-content {
        top: initial;
        left: initial;
        bottom: calc(100% + 1.75rem);
        right: 50%;
        transform: translateX(50%);
    }
    .card-share-content-shape {
        display: block;
        bottom: -0.5rem;
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        background-color: var(--color-very-dark-grayish-blue);
    }
}
@media (max-width: 34em) {
    .container {
        margin: 0 auto;
        margin-top: 5rem;
        width: min(100vw - 1rem, 45rem);
        min-height: 80vh;
        display: flex;
        flex-direction: column;
    }
    .drawers-image {
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .text-box {
        position: relative;
        padding: 2.25rem 2rem 1.25rem 2rem;
    }
}